name: Release

on:
  push:
    branches:
      - main

jobs:
  quality-checks:
    name: Quality checks
    uses: sed-i/juju-graph/.github/workflows/_quality-checks.yml@main
    secrets: inherit
  release:
    name: Release
    runs-on: ubuntu-latest
    needs:
    - quality-checks
    steps:
    - uses: actions/checkout@v4
    - uses: snapcore/action-build@v1
      id: build
    - uses: snapcore/action-publish@v1
      env:
        SNAPCRAFT_STORE_CREDENTIALS: ${{ secrets.SNAP_STORE_LOGIN }}
      with:
        snap: ${{ steps.build.outputs.snap }}
        release: edge
